header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-box .logo {
  width: 4rem;
  height: 100%;
  fill: #efecec;
}

header .overlay {
  position: fixed;
  z-index: 999;
  width: 80%;
  right: 10%;
  height: 50vw;
  margin: 3.5rem auto;
  background-color: #363434;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 650ms;
  transition: all 650ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}

header .overlay ul {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .overlay ul li:first-child, header .overlay ul li:last-child {
  display: none;
}

header .overlay ul a {
  font-size: 1.6rem;
  font-weight: 700;
}

header .overlay.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

header .menu {
  padding: 1.5rem 2rem;
  position: fixed;
  top: 2.5rem;
  right: 5rem;
  background-color: transparent;
  z-index: 999;
  cursor: pointer;
}

header .bar,
header .bar::before,
header .bar::after {
  content: "";
  position: absolute;
  height: .3rem;
  width: 4rem;
  background-color: #efecec;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 400ms;
  transition: 400ms;
}

header .bar::before {
  top: -2rem;
}

header .bar::after {
  top: 2rem;
}

header .active .bar {
  background-color: transparent;
}

header .active .bar::before,
header .active .bar::after {
  top: 0;
}

header .active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto Mono';
  color: #efecec;
  list-style: none;
  text-decoration: none;
}

body {
  background: #707070;
}

main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 5rem;
}

main .headings {
  padding: 0 0 5.7rem;
}

main .headings h1 {
  font-size: 3.8rem;
  font-weight: 700;
  width: 26.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .headings h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

main .projects-box .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

main .projects-box .work h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

main .projects-box .work a {
  font-size: 1.4rem;
  text-decoration: none;
  margin-right: 2rem;
}

main .projects-box .work a::before {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid #efecec;
  width: 2rem;
  margin: 0 .5rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

main .projects-box .glider-contain .glider {
  height: 30%;
}

main .projects-box .glider-contain .glider .tabs {
  height: 100%;
  margin-right: 1rem;
  border-radius: 2rem;
}

main .projects-box .glider-contain .glider .tabs img {
  height: 97%;
  width: 92%;
  border-radius: 2rem;
}

footer {
  height: 9rem;
  padding: 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #363434;
}

footer .container {
  text-align: center;
}

footer .container svg {
  margin-bottom: 0;
}

footer .container .file {
  width: 3rem;
  height: 3rem;
}

footer .container .list {
  width: 3rem;
  fill: #efecec;
}

footer .container .call {
  width: 2.5rem;
  height: 3rem;
  fill: #efecec;
}

footer .skills-box {
  position: fixed;
  width: 60%;
  right: 20%;
  height: 50vw;
  bottom: 11rem;
  background-color: #363434;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 650ms;
  transition: all 650ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}

footer .skills-box ul {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .skills-box ul li {
  font-size: 1.6rem;
  font-weight: 400;
}

footer .skills-box.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  * {
    font-size: 10px;
  }
  body {
    width: 100%;
    height: 97vh;
  }
  header {
    margin: 0 20rem;
    padding: 0;
    height: 15vh;
  }
  header .logo-box {
    width: 5rem;
    height: 5rem;
  }
  header .logo-box a {
    width: 100%;
    height: 100%;
  }
  header .logo-box a .logo {
    width: 100%;
    height: 100%;
  }
  header nav {
    width: 100%;
  }
  header nav .overlay {
    all: initial;
    width: 80%;
  }
  header nav .overlay ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    padding: 0;
    width: 70%;
  }
  header nav .overlay ul li:first-child, header nav .overlay ul li:last-child {
    display: inline-block;
  }
  header nav .overlay ul li .resume_btn {
    padding: .7rem 3rem;
    background-color: #efecec;
    color: #363434;
    border-radius: 2rem;
  }
  header .menu {
    display: none;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 75vh;
    padding: 0 20rem;
    width: 100%;
  }
  main .headings {
    margin: auto 0;
    padding: 0;
  }
  main .headings h1 {
    font-size: 5rem;
  }
  main .headings h2 {
    font-size: 2rem;
  }
  main .projects-box {
    width: 70%;
    height: 100%;
  }
  main .projects-box .work {
    display: none;
  }
  main .projects-box .glider-contain {
    width: 100%;
    height: 100%;
    padding-left: 17rem;
    padding-top: 3rem;
  }
  main .projects-box .glider-contain .glider {
    height: 100%;
    padding: auto 0;
  }
  main .projects-box .glider-contain .glider .tabs {
    border-radius: 2rem;
    margin: 0 auto;
  }
  main .projects-box .glider-contain .glider .tabs img {
    height: 100%;
    width: 25rem;
    border-radius: 2rem;
  }
  footer {
    height: 10vh;
  }
}
/*# sourceMappingURL=styles.css.map */